pydantic
langchain
langgraph
langchain-core
langchain-community
langchain-experimental
python-dotenv
langchain-groq
langchain-tavily
arxiv
wikipedia
requests
faiss-cpu
sentence-transformers
langchain-huggingface
fastapi
uvicorn[standard]
sse-starlette
chromadb
langchain-chroma
