pydantic
langchain
langgraph
langchain-core
langchain-community
langchain-experimental
python-dotenv
langchain-groq
langchain-tavily
arxiv
wikipedia
requests
chromadb
langchain-chroma
langchain-huggingface
sentence-transformers
